/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 th {
     border-bottom: 1px solid rgb(218, 215, 215);
     padding-left: 80px;
     height: 40px;
 }
 td{
    border-bottom: 1px solid rgb(218, 215, 215);
    padding-left: 80px;
    height: 40px;
 }
 .btn{
     background-color: rgb(236, 247, 247);
     font:bold;
     color: black;

 }
 .login-form{
    background: #fff;
    padding: 4em 4em 2em;
    max-width: 400px;
    margin: 50px auto 0;
    box-shadow: 0 0 1em #222;
    border-radius: 2px;
    h1 {
      margin: 0 0 50px 0;
      padding:10px;
      text-align:center;
      font-size:30px;
      color:darken(#e5e5e5, 50%);
      border-bottom:solid 1px #e5e5e5;
    }
    p {
      margin: 0 0 3em 0;
      position: relative;
    }

}
.row{
   background-color: rgb(235, 227, 227);
   list-style: none;
   height: 30px;
}

